<template>
  <div>
    <back-button to="managePeople"/>
    <h2>Add person</h2>
    <person-form @submit="onCreate"/>
  </div>
</template>

<script>
import BackButton from '@/components/BackButton';
import PersonForm from '@/components/admin/people/PersonForm';

export default {
  name: 'AddPerson',
  components: {
    BackButton,
    PersonForm
  },
  methods: {
    onCreate(person) {
      this.$store.commit('setLoading', true);
      this.$http.post('/v1/people', person).then(response => {
        this.$store.dispatch('fetchPeople').then(() => {
          this.$store.commit('setLoading', false);
          this.$router.push({ name: 'managePeople' }).then(() => {
            this.$notify({
              group: 'default',
              type: 'success',
              title: 'Person successfully added',
              text: person.name
            });
          });
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    }
  }
};
</script>
