<template>
  <div>
    <back-button to="managePeople"/>
    <h2>Edit person</h2>
    <person-form :inputPerson="person" @submit="onUpdate"/>
  </div>
</template>

<script>
import PersonForm from '@/components/admin/people/PersonForm';
import BackButton from '@/components/BackButton';

export default {
  name: 'EditPerson',
  components: {
    PersonForm,
    BackButton
  },
  props: {
    personId: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    person() {
      return this.$store.getters.person(this.personId);
    }
  },
  methods: {
    onUpdate(person) {
      this.$store.commit('setLoading', true);
      this.$http.put(`/v1/people/${this.personId}`, person).then(() => {
        this.$store.dispatch('fetchPeople').then(() => {
          this.$store.commit('setLoading', false);
          this.$router.push({ name: 'managePeople' }).then(() => {
            this.$notify({
              group: 'default',
              type: 'success',
              title: 'Person successfully updated',
              text: person.name
            });
          });
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    }
  }
};
</script>
