<template>
  <div>
    <h2>Manage people and devices</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="person in people" :key="person.id">
          <td>{{ person.name }}</td>
          <td>
            <router-link class="btn btn-sm btn-primary" :to="{ name: 'manageDevices', params: { personId: person.id, personName: encodeURI(person.name) }}">
              Manage devices
            </router-link>
            <router-link class="btn btn-sm btn-primary ml-2" :to="{ name: 'editPerson', params: { personId: person.id, personName: encodeURI(person.name) }}">
              <i class="fas fa-pen"></i>
              Edit
            </router-link>

            <div class="btn btn-sm btn-outline-primary ml-2" @click="openConfirmDeleteModal(person)">
              <i class="fas fa-trash"></i>
              Delete
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <router-link :to="{ name: 'addPerson' }" class="btn btn-primary">Add person</router-link>
    <confirm-delete-modal v-if="selectedForDeletion" @confirm="onDelete" @close="closeConfirmDeleteModal">
      <p>Are you sure that you want to delete the person '{{ selectedForDeletion.name }}'?</p>
    </confirm-delete-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ConfirmDeleteModal from '@/components/modals/ConfirmDeleteModal';

export default {
  name: 'ManagePeople',
  components: {
    ConfirmDeleteModal
  },
  computed: {
    ...mapGetters(['people'])
  },
  data() {
    return {
      selectedForDeletion: null
    };
  },
  methods: {
    openConfirmDeleteModal(person) {
      this.selectedForDeletion = person;
      this.$nextTick(() => {
        this.$modal.show('confirmDeleteModal');
      });
    },
    closeConfirmDeleteModal() {
      this.selectedForDeletion = null;
      this.$modal.hide('confirmDeleteModal');
    },
    onDelete() {
      this.$store.commit('setLoading', true);
      this.$http.delete(`/v1/people/${this.selectedForDeletion.id}`).then(() => {
        this.$store.dispatch('fetchPeople').then(() => {
          this.$store.commit('setLoading', false);
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Person successfully deleted',
            text: this.selectedForDeletion.name
          });
          this.selectedForDeletion = null;
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
        this.selectedForDeletion = null;
      });
    }
  }
};
</script>
