// $primary: #a20025;
// $primary: #FF5964;
$primary: #00916E;

$font-family-sans-serif: 'Helvetica';
$headings-font-family: 'Helvetica';

$border-radius: 0;
$input-btn-padding-y: 0.65rem;
$input-btn-padding-x: 1rem;