<template>
  <form @submit.prevent="onSubmit" ref="groupForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" v-model="group.name" required>
      <div class="invalid-feedback">
        Please enter a name
      </div>
    </div>

    <div class="form-group">
      <label for="people">People</label>
      <v-select v-model="group.person_ids" :reduce="option => option.id" label="name" :options="people" multiple/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'GroupForm',
  props: {
    inputGroup: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  computed: {
    validGroup() {
      return this.group.name;
    },
    ...mapGetters(['people'])
  },
  data() {
    return {
      group: {
        name: '',
        person_ids: []
      }
    };
  },
  methods: {
    onSubmit() {
      this.$refs.groupForm.classList.add('was-validated');
      if (!this.validGroup) {
        return;
      }
      this.$emit('submit', this.group);
    }
  },
  watch: {
    inputGroup(val) {
      if (val) {
        this.group = val;
      }
    }
  },
  created() {
    if (this.inputGroup) {
      this.group = this.inputGroup;
    }
  }
};
</script>
