<template>
  <div>
    <back-button to="manageScanners"/>
    <h2>Add scanner</h2>
    <scanner-form @submit="onCreate"/>
    <scanner-token-modal v-if="generatedToken" :token="generatedToken" @close="onModalClose"/>
  </div>
</template>

<script>
import BackButton from '@/components/BackButton';
import ScannerForm from '@/components/admin/scanners/ScannerForm';
import ScannerTokenModal from '@/components/modals/ScannerTokenModal';

export default {
  name: 'AddScanner',
  components: {
    BackButton,
    ScannerForm,
    ScannerTokenModal
  },
  data() {
    return {
      generatedToken: null
    };
  },
  methods: {
    onCreate(scanner) {
      this.$store.commit('setLoading', true);
      this.$http.post('/v2/scanners', scanner).then(response => {
        // TODO: in which order / don't wait for fetch call? (also for AddAuthToken)
        this.$store.dispatch('fetchScanners').then(() => {
          this.$store.commit('setLoading', false);
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Scanner successfully added',
            text: scanner.name
          });
          this.generatedToken = response.data.register_token;
          this.$nextTick(() => {
            this.$modal.show('scannerTokenModal');
          });
        });
      }).catch(error => {
        this.$store.commit('setLoading', false);
        if (error.response.status === 409) {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'A scanner for that group has already been registered'
          });
        } else {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'An unknown error occurred',
            text: 'Please try again later'
          });
        }
      });
    },
    onModalClose() {
      this.$modal.hide('scannerTokenModal');
      this.generatedToken = null;
      this.$router.push({ name: 'manageScanners' });
    }
  }
};
</script>
