<template>
  <div>
    <back-button to="manageScanners"/>
    <h2>Edit scanner</h2>
    <scanner-form :inputScanner="scanner" @submit="onUpdate"/>
  </div>
</template>

<script>
import ScannerForm from '@/components/admin/scanners/ScannerForm';
import BackButton from '@/components/BackButton';

export default {
  name: 'EditScanner',
  components: {
    ScannerForm,
    BackButton
  },
  props: {
    scannerId: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    scanner() {
      return this.$store.getters.scanner(this.scannerId);
    }
  },
  methods: {
    onUpdate(scanner) {
      this.$store.commit('setLoading', true);
      this.$http.put(`/v3/scanners/${this.scannerId}`, scanner).then(() => {
        this.$store.dispatch('fetchScanners').then(() => {
          this.$store.commit('setLoading', false);
          this.$router.push({ name: 'manageScanners' }).then(() => {
            this.$notify({
              group: 'default',
              type: 'success',
              title: 'Scanner successfully updated',
              text: scanner.name
            });
          });
        });
      }).catch(error => {
        this.$store.commit('setLoading', false);
        if (error.response.status === 409) {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'A scanner for that group has already been registered'
          });
        } else {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'An unknown error occurred',
            text: 'Please try again later'
          });
        }
      });
    }
  },
  created() {
    if (!this.$store.getters.scanners) {
      this.$store.commit('setLoading', true);
      this.$store.dispatch('fetchScanners').then(() => {
        this.$store.commit('setLoading', false);
      });
    }
  }
};
</script>
