<template>
  <div>
    <h2>Manage scanners</h2>
    <table class="table table-bordered" v-if="scanners">
      <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Group</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="scanner in scanners" :key="scanner.id">
          <td>
            <template v-if="scanner.is_setup">
              <span class="dot dot-green"/>
              Registered
            </template>
            <template v-else>
              <span class="dot dot-red"/>
              Not registered
            </template>
          </td>
          <td>{{ scanner.name }}</td>
          <td>{{ groupNameOf(scanner) }}</td>
          <td>
            <router-link class="btn btn-sm btn-primary" :to="{ name: 'editScanner', params: { scannerId: scanner.id, scannerName: encodeURI(scanner.name) }}">
              <i class="fas fa-pen"></i>
              Edit
            </router-link>
            <div class="btn btn-sm btn-outline-primary ml-2" @click="openConfirmDeleteModal(scanner)">
              <i class="fas fa-trash"></i>
              Delete
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <router-link :to="{ name: 'addScanner' }" class='btn btn-primary'>Add scanner</router-link>
    <confirm-delete-modal v-if="selectedForDeletion" @confirm="onDelete" @close="closeConfirmDeleteModal">
      <p>Are you sure that you want to delete the scanner '{{ selectedForDeletion.name }}?'</p>
    </confirm-delete-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ConfirmDeleteModal from '@/components/modals/ConfirmDeleteModal';

export default {
  name: 'ManageScanners',
  components: {
    ConfirmDeleteModal
  },
  computed: {
    ...mapGetters(['scanners', 'groups'])
  },
  data() {
    return {
      selectedForDeletion: null
    };
  },
  methods: {
    groupNameOf(scanner) {
      const group = this.groups.find(g => g.id === scanner.group_id);
      return group ? group.name : 'Unknown';
    },
    openConfirmDeleteModal(scanner) {
      this.selectedForDeletion = scanner;
      this.$nextTick(() => {
        this.$modal.show('confirmDeleteModal');
      });
    },
    closeConfirmDeleteModal() {
      this.selectedForDeletion = null;
      this.$modal.hide('confirmDeleteModal');
    },
    onDelete() {
      this.$store.commit('setLoading', true);
      this.$http.delete(`/v2/scanners/${this.selectedForDeletion.id}`).then(() => {
        this.$store.dispatch('fetchScanners').then(() => {
          this.$store.commit('setLoading', false);
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Scanner successfully deleted',
            text: this.selectedForDeletion.name
          });
          this.selectedForDeletion = null;
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
        this.selectedForDeletion = null;
      });
    }
  },
  created() {
    if (!this.scanners) {
      this.$store.commit('setLoading', true);
      this.$store.dispatch('fetchScanners').then(() => {
        this.$store.commit('setLoading', false);
      });
    }
  }
};
</script>
