<template>
  <modal name="confirmDeleteModal" :clickToClose="true" height="auto" :adaptive="true" :maxWidth="500" width="95%">
    <div class="modal-container">
      <div class="modal-header">
        <h2>Are you sure?</h2>
      </div>

      <div class="modal-body">
        <slot/>
      </div>

      <div class="modal-buttons text-right">
        <div class="btn btn-outline-primary mr-3" @click="onClose">Cancel</div>
        <div class="btn btn-primary" @click="onConfirm">Confirm</div>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: 'ConfirmDeleteModal',
  methods: {
    onConfirm() {
      this.$emit('confirm');
    },
    onClose() {
      this.$emit('close');
    }
  }
};
</script>
