<template>
  <modal name="scannerTokenModal" :clickToClose="true" height="auto" :adaptive="true" :maxWidth="500" width="95%" @closed="onClose">
    <div class="modal-container">
      <div class="modal-header">
        <h2>Register token</h2>
      </div>

      <div class="modal-body">
        The register token of this scanner is <b>{{ token }}</b>. You won't be able to view the token after closing this modal.
      </div>

      <div class="modal-buttons text-right">
        <div class="btn btn-outline-primary" @click="onClose">Close</div>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  name: 'ScannerTokenModal',
  props: {
    token: {
      type: String,
      required: true
    }
  },
  methods: {
    onClose() {
      this.$emit('close');
    }
  }
};
</script>
