<template>
  <form @submit.prevent="onSubmit" ref="personForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" v-model="person.name" required>
      <div class="invalid-feedback">
        Please enter a name
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</template>

<script>
export default {
  name: 'PersonForm',
  props: {
    inputPerson: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  computed: {
    validPerson() {
      return this.person.name;
    }
  },
  data() {
    return {
      person: {
        name: ''
      }
    };
  },
  methods: {
    onSubmit() {
      this.$refs.personForm.classList.add('was-validated');
      if (!this.validPerson) {
        return;
      }
      this.$emit('submit', this.person);
    }
  },
  watch: {
    inputPerson(val) {
      if (val) {
        this.person = val;
      }
    }
  },
  created() {
    if (this.inputPerson) {
      this.person = this.inputPerson;
    }
  }
};
</script>
