<template>
  <div>
    <h4>History</h4>
    <div class="form-group">
      <label for="date-select">Select date</label>
      <datepicker id="date-select" input-class="form-control clickable" use-utc v-model="selectedDate" :disabled-dates="disabledDates"/>
    </div>
    <div class="form-group" v-if="times.length">
      <label for="time-select">Select time</label>
      <select class="form-control" id="time-select" v-model="selectedTime">
        <option v-for="time in times" :key="time.format('X')" :value="time.format('X')">{{ time.format('HH:mm:ss') }}</option>
      </select>
    </div>
    <table class="table table-bordered" v-if="readings.length">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="person in peopleInGroup(selectedGroup.id)" :key="person.id">
          <td :set="reading = readings.find(r => r.person_id === person.id)">
            <span v-if="reading" class="dot" :class="[reading.active ? 'dot-green' : 'dot-red']"/>
            <span v-else class="dot dot-gray"></span>
            {{ person.name }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import moment from 'moment';
import { mapGetters } from 'vuex';

export default {
  name: 'History',
  components: {
    Datepicker
  },
  computed: {
    disabledDates() {
      if (!this.dates.length) {
        // Disable all dates
        return {
          customPredictor: () => true
        };
      }
      return {
        from: moment.max(...this.dates).add(1, 'day').toDate(),
        to: moment.min(...this.dates).toDate()
      };
    },
    ...mapGetters(['selectedGroup', 'peopleInGroup'])
  },
  data() {
    return {
      selectedDate: null,
      selectedTime: null,
      dates: [],
      times: [],
      readings: []
    };
  },
  watch: {
    selectedGroup() {
      this.selectedDate = null;
      this.dates = [];
      this.fetchDates();
    },
    selectedDate(val) {
      this.selectedTime = null;
      this.times = [];
      if (val) {
        this.fetchTimes();
      }
    },
    selectedTime(val) {
      this.readings = [];
      if (val) {
        this.fetchHistory();
      }
    }
  },
  methods: {
    fetchDates() {
      this.$store.commit('setLoading', true);
      this.$http.get(`/v3/groups/${this.selectedGroup.id}/history/dates`).then(response => {
        this.dates = response.data.map(d => moment(d));
        this.$store.commit('setLoading', false);
      });
    },
    fetchTimes() {
      this.$store.commit('setLoading', true);
      const date = moment(this.selectedDate).format('YYYY-MM-DD');
      this.$http.get(`/v3/groups/${this.selectedGroup.id}/history/times?date=${date}`).then(response => {
        this.times = response.data.map(t => moment(t * 1000));
        this.$store.commit('setLoading', false);
      });
    },
    fetchHistory() {
      this.$store.commit('setLoading', true);
      this.$http.get(`/v2/groups/${this.selectedGroup.id}/history?start=${this.selectedTime}&end=${this.selectedTime}`).then(response => {
        this.readings = response.data.readings[`${this.selectedTime}`];
        this.$store.commit('setLoading', false);
      });
    }
  },
  created() {
    this.fetchDates();
  }
};
</script>

<style>
.cursor-default {
  cursor: default;
}
</style>
