<template>
  <div>
    <h4>{{ selectedGroup.name }}</h4>
    <template v-if="selectedGroup">
      <status-table :group="selectedGroup" :status="status"/>
      <div class="action-buttons">
        <div class="btn btn-primary mr-3" @click="fetchStatus">Refresh</div>
        <div class="btn btn-outline-primary" @click="startScan" v-if="canI('observe')">Start scan</div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import StatusTable from '@/components/StatusTable';

export default {
  name: 'Home',
  components: {
    StatusTable
  },
  data() {
    return {
      status: []
    };
  },
  computed: {
    ...mapGetters(['selectedGroup', 'canI'])
  },
  watch: {
    selectedGroup() {
      this.onSelectedGroupChange();
    }
  },
  methods: {
    fetchStatus() {
      this.$store.commit('setLoading', true);
      this.$http.get(`/v3/groups/${this.selectedGroup.id}/status`).then(response => {
        this.status = response.data;
        this.$store.commit('setLoading', false);
      });
    },
    startScan() {
      this.$http.get(`/v2/observe?group_id=${this.selectedGroup.id}`)
        .then(response => {
          if (response.status === 202) {
            this.$notify({
              group: 'default',
              type: 'warn',
              title: 'A scan is already in progress'
            });
          } else {
            this.$notify({
              group: 'default',
              type: 'success',
              title: 'A scan has been started',
              text: 'The result will be shown within a minute.'
            });
          }
        }).catch(error => {
          if (error.response.status === 409) {
            this.$notify({
              group: 'default',
              type: 'error',
              title: 'No scanner has been setup for this group',
              text: 'Please ask an administrator to add one'
            });
          } else {
            this.$notify({
              group: 'default',
              type: 'error',
              title: 'An unknown error occurred',
              text: 'Please try again later'
            });
          }
        });
    },
    onSelectedGroupChange() {
      this.status = [];
      if (this.selectedGroup) {
        this.fetchStatus();
      }
    }
  },
  created() {
    this.onSelectedGroupChange();
  }
};
</script>
