<template>
  <div class="text-center not-found-container">
    <h2>The page was not found</h2>
    <div class="not-found-body">
      <p>You can go back to the application by clicking <router-link :to="{ name: 'home' }">here</router-link>.<br>
      Did you end up here via the application? Please send an email to <a href="mailto:whoishome@roelink.eu">whoishome@roelink.eu</a>.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFound'
};
</script>

<style lang="scss" scoped>
.not-found-container {
  padding-top: 2rem;

  .not-found-body {
    padding-top: 0.75rem;
  }
}
</style>
