<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <change-account-info/>
      </div>

      <div class="col-md-6 pt-4 pt-md-0">
        <change-password/>
      </div>
    </div>
  </div>
</template>

<script>
import ChangeAccountInfo from '@/components/settings/ChangeAccountInfo';
import ChangePassword from '@/components/settings/ChangePassword';

export default {
  name: 'Settings',
  components: {
    ChangeAccountInfo,
    ChangePassword
  }
};
</script>
