<template>
  <div>
    <h4>Statistics</h4>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="select-period">Select period</label>
          <select class="form-control" id="select-period" v-model="selectedPeriod" @change="onPeriodChange">
            <option v-for="period in periods" :key="period" :value="period">{{ period }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-12 col-md-6 col-lg-4" v-for="person in peopleInGroup(selectedGroup.id)" :key="`${selectedGroup.id}-${person.id}`">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ person.name }}</h5>
            <canvas :ref="`chart-${person.id}`"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Chart from 'chart.js';
import moment from 'moment';

export default {
  name: 'Statistics',
  computed: {
    ...mapGetters(['selectedGroup', 'peopleInGroup'])
  },
  data() {
    return {
      periods: [
        'Today',
        'Last week',
        'Last month',
        'Last year',
        'All time',
        'Custom'
      ],
      selectedPeriod: 'All time',
      charts: []
    };
  },
  watch: {
    selectedGroup() {
      this.onPeriodChange();
    }
  },
  methods: {
    createCharts(chartData) {
      for (const person of this.peopleInGroup(this.selectedGroup.id)) {
        const ratio = chartData.find(d => d.person_id === person.id)?.ratio;
        const data = ratio !== undefined
          ? {
            datasets: [{
              data: [ratio, 1 - ratio],
              backgroundColor: [
                '#00916E',
                '#D0D0D0'
              ]
            }],
            labels: [
              'At home',
              'Away'
            ]
          }
          : {
            datasets: [{
              data: [1],
              backgroundColor: [
                '#D0D0D0'
              ]
            }],
            labels: [
              'Unknown'
            ]
          };

        this.charts.push(
          new Chart(this.$refs[`chart-${person.id}`], {
            type: 'doughnut',
            data: data,
            options: {
              legend: {
                position: 'left'
              },
              tooltips: {
                callbacks: {
                  label: (item, data) => {
                    const value = data.datasets[0].data[item.index];
                    return ` ${(value * 100).toFixed(1)}%`;
                  }
                }
              }
            }
          })
        );
      }
    },
    destroyCharts() {
      this.charts.forEach(c => c.destroy());
      this.charts = [];
    },
    onPeriodChange() {
      let start_time, end_time;

      switch (this.selectedPeriod) {
        case 'Today':
          start_time = moment().startOf('day').unix();
          end_time = moment().unix();
          break;
        case 'Last week':
          start_time = moment().startOf('day').add(1, 'day').subtract(1, 'week').unix();
          end_time = moment().unix();
          break;
        case 'Last month':
          start_time = moment().startOf('day').add(1, 'day').subtract(1, 'month').unix();
          end_time = moment().unix();
          break;
        case 'Last year':
          start_time = moment().startOf('day').add(1, 'day').subtract(1, 'year').unix();
          end_time = moment().unix();
          break;
        case 'All time':
          break;
        case 'Custom':
          // TODO
          return;
        default:
          console.error(`Unknown selected period: ${this.selectedPeriod}`);
      }

      this.$store.commit('setLoading', true);
      this.$http.get('/v3/stats/at_home', {
        params: {
          group_id: this.selectedGroup.id,
          start_time: start_time,
          end_time: end_time
        }
      }).then(response => {
        this.destroyCharts();
        this.createCharts(response.data);
        this.$store.commit('setLoading', false);
      });
    }
  },
  mounted() {
    this.onPeriodChange();
  }
};
</script>
