<template>
  <form @submit.prevent="onSubmit" ref="scannerForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" v-model="scanner.name" required>
      <div class="invalid-feedback">
        Please enter a name
      </div>
    </div>

    <div class="form-group">
      <label for="group">Group</label>
      <select class="form-control" id="group" v-model="scanner.group_id" required>
        <option v-for="group in groups" :key="group.id" :value="group.id">{{ group.name }}</option>
      </select>
      <div class="invalid-feedback">
        Please choose a group
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ScannerForm',
  props: {
    inputScanner: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  computed: {
    validScanner() {
      return this.scanner.name && this.scanner.group_id;
    },
    ...mapGetters(['groups'])
  },
  data() {
    return {
      scanner: {
        name: '',
        group_id: null
      }
    };
  },
  methods: {
    onSubmit() {
      this.$refs.scannerForm.classList.add('was-validated');
      if (!this.validScanner) {
        return;
      }
      this.$emit('submit', this.scanner);
    }
  },
  watch: {
    inputScanner(val) {
      if (val) {
        this.scanner = val;
      }
    }
  },
  created() {
    if (this.inputScanner) {
      this.scanner = this.inputScanner;
    }
  }
};
</script>
