<template>
  <div>
    <back-button to="manageDevices"/>
    <h2>Edit device</h2>
    <device-form :inputDevice="device" @submit="onUpdate"/>
  </div>
</template>

<script>
import DeviceForm from '@/components/admin/devices/DeviceForm';
import BackButton from '@/components/BackButton';

export default {
  name: 'EditDevice',
  components: {
    DeviceForm,
    BackButton
  },
  props: {
    personId: {
      type: [String, Number],
      required: true
    },
    deviceId: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    device() {
      return this.$store.getters.device(this.personId, this.deviceId);
    }
  },
  methods: {
    onUpdate(device) {
      this.$store.commit('setLoading', true);
      this.$http.put(`/v1/people/${this.personId}/devices/${this.deviceId}`, {
        person_id: this.personId,
        ...device
      }).then(() => {
        // TODO: improve
        this.$store.dispatch('fetchPeople').then(() => {
          this.$store.commit('setLoading', false);
          this.$router.push({ name: 'manageDevices' }).then(() => {
            this.$notify({
              group: 'default',
              type: 'success',
              title: 'Device successfully updated',
              text: device.name
            });
          });
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    }
  }
};
</script>
