<template>
  <div v-if="person">
    <back-button to="managePeople"/>
    <h2>Manage devices of {{ person.name }}</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>MAC address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="device in person.devices" :key="device.id">
          <td>{{ device.name }}</td>
          <td>{{ device.mac_address }}</td>
          <td>
            <router-link class="btn btn-sm btn-primary" :to="{ name: 'editDevice', params: { deviceId: device.id, deviceName: encodeURI(device.name) }}">
              <i class="fas fa-pen"></i>
              Edit
            </router-link>

            <div class="btn btn-sm btn-outline-primary ml-2" @click="openConfirmDeleteModal(device)">
              <i class="fas fa-trash"></i>
              Delete
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <router-link :to="{ name: 'addDevice' }" class="btn btn-primary">Add device</router-link>
    <confirm-delete-modal v-if="selectedForDeletion" @confirm="onDelete" @close="closeConfirmDeleteModal">
      <p>Are you sure that you want to delete the device '{{ selectedForDeletion.name }}'?</p>
    </confirm-delete-modal>
  </div>
</template>

<script>
import BackButton from '@/components/BackButton';
import ConfirmDeleteModal from '@/components/modals/ConfirmDeleteModal';

export default {
  name: 'ManageDevices',
  components: {
    BackButton,
    ConfirmDeleteModal
  },
  props: {
    personId: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    person() {
      return this.$store.getters.person(this.personId);
    }
  },
  data() {
    return {
      selectedForDeletion: null
    };
  },
  methods: {
    openConfirmDeleteModal(device) {
      this.selectedForDeletion = device;
      this.$nextTick(() => {
        this.$modal.show('confirmDeleteModal');
      });
    },
    closeConfirmDeleteModal() {
      this.selectedForDeletion = null;
      this.$modal.hide('confirmDeleteModal');
    },
    onDelete() {
      this.$store.commit('setLoading', true);
      this.$http.delete(`/v1/people/${this.personId}/devices/${this.selectedForDeletion.id}`).then(() => {
        this.$store.dispatch('fetchPeople').then(() => {
          this.$store.commit('setLoading', false);
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Device successfully deleted',
            text: this.selectedForDeletion.name
          });
          this.selectedForDeletion = null;
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
        this.selectedForDeletion = null;
      });
    }
  }
};
</script>
