<template>
  <label class="custom-form-check">
    {{ label }}
    <input type="checkbox" :checked="value" @input="onInput"/>
    <span class="checkmark"/>
  </label>
</template>

<script>
export default {
  name: 'CheckBox',
  props: {
    label: {
      type: String,
      required: false,
      default: () => ''
    },
    value: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  methods: {
    onInput(event) {
      this.$emit('input', event.target.checked);
    }
  }
};
</script>

<style lang="scss" scoped>
// See https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
.custom-form-check {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // Hide the default checkbox
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // Create a custom checkbox
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid $gray-400;
  }

  // On mouse-over, add a grey background color
  // :hover input ~ .checkmark {
  //   background-color: #ccc;
  // }

  // When the checkbox is checked, add a green background
  input:checked ~ .checkmark {
    background-color: $primary;
  }

  // Create the checkmark/indicator (hidden when not checked)
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  // Show the checkmark when checked
  input:checked ~ .checkmark:after {
    display: block;
  }
}
</style>
