<template>
  <slide width="350" noOverlay :isOpen="isOpen" @closeMenu="onCloseMenu" @openMenu="onOpenMenu">
    <div class="account-name" v-if="user">
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
    </div>
    <a href="javascript:void(0)" @click="navigateTo('home')">
      <div class="menu-icon">
        <i class="fas fa-home"></i>
      </div>
      <span>Home</span>
    </a>

    <a href="javascript:void(0)" @click="navigateTo('history')" v-if="canI('show_history')">
      <div class="menu-icon">
        <i class="fas fa-history"></i>
      </div>
      <span>History</span>
    </a>

    <a href="javascript:void(0)" @click="navigateTo('statistics')" v-if="canI('show_stats')">
      <div class="menu-icon">
        <i class="far fa-chart-bar"></i>
      </div>
      <span>Statistics</span>
    </a>

    <template v-if="canI('show_admin_panel')">
      <a href="javascript:void(0)" @click="showAdminSubmenu = !showAdminSubmenu">
        <div class="menu-icon">
          <i class="fas fa-tools"></i>
        </div>
        <span>Admin</span>
        <span class="align-middle">
          <i class="fas collapse-icon" :class="[showAdminSubmenu ? 'fa-chevron-up' : 'fa-chevron-down']"></i>
        </span>
      </a>
      <nav class="bm-item-list submenu" v-if="showAdminSubmenu">
        <a href="javascript:void(0)" @click="navigateTo('manageGroups')">
          <div class="menu-icon">
            <i class="fas fa-users"></i>
          </div>
          <span>Manage groups</span>
        </a>

        <a href="javascript:void(0)" @click="navigateTo('managePeople')">
          <div class="menu-icon">
            <i class="fas fa-user"></i>
          </div>
          <span>Manage people and devices</span>
        </a>

        <a href="javascript:void(0)" @click="navigateTo('manageScanners')">
          <div class="menu-icon">
            <i class="fas fa-wifi"></i>
          </div>
          <span>Manage scanners</span>
        </a>

        <a href="javascript:void(0)" @click="navigateTo('inviteUser')" v-if="canI('invite_person')">
          <div class="menu-icon">
            <i class="fas fa-user-plus"></i>
          </div>
          <span>Invite user</span>
        </a>

        <a href="javascript:void(0)" @click="navigateTo('manageAuthTokens')">
          <div class="menu-icon">
            <i class="fas fa-shield-alt"></i>
          </div>
          <span>Manage authorization tokens</span>
        </a>

        <a href="javascript:void(0)" @click="navigateTo('home')">
          <div class="menu-icon">
            <i class="fas fa-user-lock"></i>
          </div>
          <span>Manage roles and features</span>
        </a>
      </nav>
    </template>

    <a href="javascript:void(0)" @click="navigateTo('settings')">
      <div class="menu-icon">
        <i class="fas fa-cog"></i>
      </div>
      <span>Settings</span>
    </a>

    <a href="javascript:void(0)" @click="onLogout">
      <div class="menu-icon">
        <i class="fas fa-sign-out-alt"></i>
      </div>
      <span>Logout</span>
    </a>
  </slide>
</template>

<script>
import { Slide } from 'vue-burger-menu';
import { mapGetters } from 'vuex';
import http from '@/services/http';

export default {
  name: 'Sidebar',
  components: {
    Slide
  },
  computed: {
    ...mapGetters(['user', 'canI'])
  },
  data() {
    return {
      showAdminSubmenu: false,
      isOpen: false
    };
  },
  methods: {
    onLogout() {
      http.logout();
    },
    navigateTo(route) {
      this.isOpen = false;
      if (this.$route.name !== route) {
        this.$router.push({ name: route });
      }
    },
    onCloseMenu() {
      this.isOpen = false;
    },
    onOpenMenu() {
      this.isOpen = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.account-name {
  white-space: nowrap;
}

.bm-cross {
  height: 24px !important;
}

.fas {
  line-height: 1.25;
}

.submenu {
  padding: 0;
  flex-direction: column;
}

.collapse-icon {
  color: $white;
  font-size: $font-size-sm;
}

.menu-icon {
  min-width: 25px;
}
</style>
