<template>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Seen</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="person in peopleInGroup(group.id)" :key="person.id" :set="l = lastActive(person)">
        <td>
          <span v-if="lastActive(person) !== null" class="dot" :class="[isActive(l) ? 'dot-green' : 'dot-red']"/>
          <span v-else class="dot dot-gray"></span>
          {{ person.name }}
        </td>
        <td>{{ prettyTimestamp(l) || '-' }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import moment from 'moment';
import { mapGetters } from 'vuex';

export default {
  name: 'StatusTable',
  props: {
    group: {
      type: Object,
      required: true
    },
    status: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  computed: {
    ...mapGetters(['peopleInGroup'])
  },
  methods: {
    lastActive(person) {
      const s = this.status.find(s => s.id === person.id);
      if (!s) {
        return null;
      }
      return s.last_active;
    },
    isActive(timestamp) {
      return (new Date().getTime() / 1000) - timestamp < 600;
    },
    prettyTimestamp(timestamp) {
      if (!timestamp) {
        return null;
      }
      return moment(timestamp * 1000).fromNow();
    }
  }
};
</script>
