<template>
  <form @submit.prevent="onSubmit" ref="authTokenForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" v-model="authToken.name" required>
      <div class="invalid-feedback">
        Please enter a name
      </div>
    </div>

    <div class="form-group">
        <label for="role">Role</label>
        <select id="role" class="form-control" v-model="authToken.role_id" required>
          <option v-for="role in roles" :key="role.id" :value="role.id">{{ role.name }}</option>
        </select>
        <div class="invalid-feedback">
          Please select a role
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
  </form>
</template>

<script>
export default {
  name: 'AuthTokenForm',
  props: {
    inputAuthToken: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  computed: {
    validAuthToken() {
      return this.authToken.name && this.authToken.role_id;
    }
  },
  data() {
    return {
      authToken: {
        name: '',
        role_id: null
      },
      roles: []
    };
  },
  methods: {
    onSubmit() {
      this.$refs.authTokenForm.classList.add('was-validated');
      if (!this.validAuthToken) {
        return;
      }
      this.$emit('submit', this.authToken);
    }
  },
  watch: {
    inputAuthToken(val) {
      if (val) {
        this.authToken = {
          role_id: val.role.id,
          ...val
        };
      }
    }
  },
  created() {
    this.$http.get('/v1/roles').then(response => {
      this.roles = response.data;
    });

    if (this.inputAuthToken) {
      this.authToken = {
        role_id: this.inputAuthToken.role.id,
        ...this.inputAuthToken
      };
    }
  }
};
</script>
