<template>
  <form @submit.prevent="onSubmit" ref="deviceForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" v-model="device.name" required>
      <div class="invalid-feedback">
        Please enter a name
      </div>
    </div>

    <div class="form-group">
      <label for="mac-address">MAC Address</label>
      <input type="text" class="form-control" id="mac-address" v-model="device.mac_address" required>
      <div class="invalid-feedback">
        Please enter a valid MAC address
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</template>

<script>
export default {
  name: 'DeviceForm',
  props: {
    inputDevice: {
      type: Object,
      required: false,
      default: () => null
    }
  },
  computed: {
    validDevice() {
      return this.device.name && this.device.mac_address;
    }
  },
  data() {
    return {
      device: {
        name: '',
        mac_address: ''
      }
    };
  },
  methods: {
    onSubmit() {
      this.$refs.deviceForm.classList.add('was-validated');
      if (!this.validDevice) {
        return;
      }
      this.$emit('submit', this.device);
    }
  },
  watch: {
    inputDevice(val) {
      if (val) {
        this.device = val;
      }
    }
  },
  created() {
    if (this.inputDevice) {
      this.device = this.inputDevice;
    }
  }
};
</script>
