<template>
  <div>
    <back-button to="manageAuthTokens"/>
    <h2>Add authorization token</h2>
    <auth-token-form @submit="onCreate"/>
    <auth-token-modal v-if="generatedToken" :token="generatedToken" @close="onModalClose"/>
  </div>
</template>

<script>
import BackButton from '@/components/BackButton';
import AuthTokenForm from '@/components/admin/auth-tokens/AuthTokenForm';
import AuthTokenModal from '@/components/modals/AuthTokenModal';

export default {
  name: 'AddAuthToken',
  components: {
    BackButton,
    AuthTokenForm,
    AuthTokenModal
  },
  data() {
    return {
      generatedToken: null
    };
  },
  methods: {
    onCreate(authToken) {
      this.$store.commit('setLoading', true);
      this.$http.post('/v1/auth/tokens', authToken).then(response => {
        this.$store.dispatch('fetchAuthTokens').then(() => {
          this.$store.commit('setLoading', false);
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Authorization token successfully generated',
            text: authToken.name
          });
          this.generatedToken = response.data.token;
          this.$nextTick(() => {
            this.$modal.show('authTokenModal');
          });
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    },
    onModalClose() {
      this.$modal.hide('authTokenModal');
      this.generatedToken = null;
      this.$router.push({ name: 'manageAuthTokens' });
    }
  }
};
</script>
