<template>
  <div>
    <back-button to="manageAuthTokens"/>
    <h2>Edit authorization token</h2>
    <auth-token-form :inputAuthToken="authToken" @submit="onUpdate"/>
  </div>
</template>

<script>
import AuthTokenForm from '@/components/admin/auth-tokens/AuthTokenForm';
import BackButton from '@/components/BackButton';

export default {
  name: 'EditAuthToken',
  components: {
    AuthTokenForm,
    BackButton
  },
  props: {
    authTokenId: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    authToken() {
      return this.$store.getters.authToken(this.authTokenId);
    }
  },
  methods: {
    onUpdate(authToken) {
      this.$store.commit('setLoading', true);
      this.$http.put(`/v1/auth/tokens/${this.authTokenId}`, authToken).then(() => {
        this.$store.dispatch('fetchAuthTokens').then(() => {
          this.$store.commit('setLoading', false);
          this.$router.push({ name: 'manageAuthTokens' }).then(() => {
            this.$notify({
              group: 'default',
              type: 'success',
              title: 'Authorization token successfully updated',
              text: authToken.name
            });
          });
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    }
  },
  created() {
    if (!this.authTokens) {
      this.$store.commit('setLoading', true);
      this.$store.dispatch('fetchAuthTokens').then(() => {
        this.$store.commit('setLoading', false);
      });
    }
  }
};
</script>
