<template>
  <div>
    <h2>Manage authorization tokens</h2>
    <table class="table table-bordered" v-if="authTokens">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="authToken in authTokens" :key="authToken.id">
          <td>{{ authToken.name }}</td>
          <td>{{ authToken.role.name }}</td>
          <td>
            <router-link class="btn btn-sm btn-primary" :to="{ name: 'editAuthToken', params: { authTokenId: authToken.id, authTokenName: encodeURI(authToken.name) }}">
              <i class="fas fa-pen"></i>
              Edit
            </router-link>
            <div class="btn btn-sm btn-outline-primary ml-2" @click="openConfirmDeleteModal(authToken)">
              <i class="fas fa-trash"></i>
              Delete
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <router-link :to="{ name: 'addAuthToken' }" class="btn btn-primary">Add authorization token</router-link>
    <confirm-delete-modal v-if="selectedForDeletion" @confirm="onDelete" @close="closeConfirmDeleteModal">
      <p>Are you sure that you want to delete the authorization token '{{ selectedForDeletion.name }}'?</p>
    </confirm-delete-modal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ConfirmDeleteModal from '@/components/modals/ConfirmDeleteModal';

export default {
  name: 'ManageAuthTokens',
  components: {
    ConfirmDeleteModal
  },
  computed: {
    ...mapGetters(['authTokens'])
  },
  data() {
    return {
      selectedForDeletion: null
    };
  },
  methods: {
    openConfirmDeleteModal(authToken) {
      this.selectedForDeletion = authToken;
      this.$nextTick(() => {
        this.$modal.show('confirmDeleteModal');
      });
    },
    closeConfirmDeleteModal() {
      this.selectedForDeletion = null;
      this.$modal.hide('confirmDeleteModal');
    },
    onDelete() {
      this.$store.commit('setLoading', true);
      this.$http.delete(`/v1/auth/tokens/${this.selectedForDeletion.id}`).then(() => {
        this.$store.dispatch('fetchAuthTokens').then(() => {
          this.$store.commit('setLoading', false);
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Authorization token successfully deleted',
            text: this.selectedForDeletion.name
          });
          this.selectedForDeletion = null;
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
        this.selectedForDeletion = null;
      });
    }
  },
  created() {
    if (!this.authTokens) {
      this.$store.commit('setLoading', true);
      this.$store.dispatch('fetchAuthTokens').then(() => {
        this.$store.commit('setLoading', false);
      });
    }
  }
};
</script>
