<template>
  <div>
    <h2>Invite user</h2>
    <form @submit.prevent="onInvite" ref="inviteUserForm" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" v-model="invite.email" required>
        <div class="invalid-feedback">
          Please enter a valid email address
        </div>
      </div>

      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" class="form-control" v-model="invite.role" required>
          <option v-for="role in roles" :key="role.id" :value="role">{{ role.name }}</option>
        </select>
        <div class="invalid-feedback">
          Please select a role
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Invite</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'InviteUser',
  computed: {
    validInvite() {
      return this.invite.email && this.invite.role;
    }
  },
  data() {
    return {
      invite: {
        email: '',
        role: null
      },
      roles: []
    };
  },
  methods: {
    onInvite() {
      this.$refs.inviteUserForm.classList.add('was-validated');
      if (!this.validInvite) {
        return;
      }

      this.$store.commit('setLoading', true);
      this.$http.post('/v1/invite_tokens', this.invite).then(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'success',
          title: `Invitation sent successfully to ${this.invite.email}`
        });
        this.$refs.inviteUserForm.classList.remove('was-validated');
        this.invite.email = '';
        this.invite.role = null;
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    }
  },
  created() {
    this.$http.get('/v1/roles').then(response => {
      this.roles = response.data;
    });
  }
};
</script>
