<template>
  <div id="app">
    <router-view/>
    <notifications group="default" animation-name="v-fade-right"/>
  </div>
</template>

<style lang="scss">
@import '@/assets/scss/main.scss';

html, body {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

// Hide valid form validation indications
.form-control.is-valid:focus, .was-validated :valid.form-control {
  color: $input-color !important;
  border-color: $input-border-color !important;
  background-image: none !important;
  border-width: $input-border-width !important;
  box-shadow: $input-box-shadow !important;

  &:focus {
    background: $input-focus-bg !important;
    border-color: $input-focus-border-color !important;
    color: $input-focus-color !important;
    box-shadow: $input-focus-box-shadow !important;
  }
}

.vue-notification {
  margin: 0.5rem 0.5rem 0 0 !important;

  .notification-title {
    font-weight: $font-weight-base;
    font-size: $font-size-sm;
  }

  // &.default {
  //   background: $gray-700;
  //   border-left: 5px solid $gray-800;
  // }
}

.v-fade-right-enter-active,
.v-fade-right-leave-active
.v-fade-right-move {
  transition: all .5s;
}
.v-fade-right-enter,
.v-fade-right-leave-to {
  opacity: 0;
  // transform: translateX(500px) scale(0.2);
  transform: translateX(300px)
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;

  &.dot-green {
    background-color: $green;
  }

  &.dot-red {
    background-color: $red;
  }

  &.dot-gray {
    background-color: $gray-500;
  }
}

.form-control[readonly] {
  background-color: $white !important;
}

select {
  cursor: pointer;
}

.vs__selected {
  background-color: $primary;
  color: $white;
  padding: 4px 4px 4px 8px;
  margin-right: 8px;
}

.vs__deselect {
  margin-left: 8px;
}

.vs__dropdown-toggle {
  border-radius: 0;
  padding: $input-padding-y $input-padding-x;
}

.modal-container {
  padding: 2rem;

  .modal-header {
    padding-bottom: 1rem;
  }

  .modal-buttons {
    padding-top: 0.5rem;
  }
}

.vm--modal {
  /* In addition to :scrollable="true" */
  overflow-y: auto !important;
}
</style>
