<template>
  <modal name="modal" class="modal" :clickToClose="false" height="auto" :adaptive="true" :maxWidth="600" width="95%" :shiftY="0.25">
    <router-view/>
  </modal>
</template>

<script>
export default {
  name: 'AuthLayout',
  mounted() {
    this.$modal.show('modal');
  }
};
</script>

<style>
.modal {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('~@/assets/scenery.jpg'), no-repeat;
  background-size: cover;
}
</style>
