<template>
  <div>
    <sidebar/>
    <div class="title-bar">
      <span class="title">Who Is Home</span>
    </div>
    <div class="group-select-bar" v-if="selectedGroup && selectedGroupRequired">
      <select class="form-control" id="groupSelect" v-model="selectedGroup">
        <option v-for="group in groups" :key="group.id" :value="group">{{ group.name }}</option>
      </select>
    </div>
    <loading-state/>
    <div class="main container">
      <template v-if="!selectedGroup && selectedGroupRequired">
        <h4>Select group</h4>
        <div class="form-group">
          <select class="form-control" id="groupSelect" v-model="selectedGroup">
            <option v-for="group in groups" :key="group.id" :value="group">{{ group.name }}</option>
          </select>
        </div>
      </template>
      <router-view v-else/>
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar';
import LoadingState from '@/components/LoadingState';
import { mapGetters } from 'vuex';

export default {
  name: 'DefaultLayout',
  components: {
    Sidebar,
    LoadingState
  },
  computed: {
    selectedGroup: {
      get() {
        return this.$store.getters.selectedGroup;
      },
      set(value) {
        this.$store.commit('setSelectedGroup', value);
      }
    },
    selectedGroupRequired() {
      return ['home', 'history', 'statistics'].includes(this.$route.name);
    },
    ...mapGetters(['groups'])
  },
  created() {
    this.$store.commit('setLoading', true);
    Promise.all([
      this.$store.dispatch('fetchGroups'),
      this.$store.dispatch('fetchPeople')
    ]).then(() => {
      this.$store.commit('setLoading', false);
    });
  }
};
</script>

<style lang="scss" scoped>
.title-bar {
  height: 60px;
  background-color: $primary;
  text-align: center;

  .title {
    line-height: 60px;
    font-size: 28px;
    color: $gray-200;
  }
}

.main {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
</style>

<style lang="scss">
.bm-burger-button {
  left: 20px !important;
  top: 15px !important;

  .bm-burger-bars {
    background-color: $gray-200;
  }
}
</style>
