<template>
  <div>
    <back-button to="manageGroups"/>
    <h2>Add group</h2>
    <group-form @submit="onCreate"/>
  </div>
</template>

<script>
import GroupForm from '@/components/admin/groups/GroupForm';
import BackButton from '@/components/BackButton';

export default {
  name: 'AddGroup',
  components: {
    GroupForm,
    BackButton
  },
  methods: {
    onCreate(group) {
      this.$store.commit('setLoading', true);
      this.$http.post('/v3/groups', group).then(() => {
        this.$store.dispatch('fetchGroups').then(() => {
          this.$store.commit('setLoading', false);
          this.$router.push({ name: 'manageGroups' }).then(() => {
            this.$notify({
              group: 'default',
              type: 'success',
              title: 'Group successfully added',
              text: group.name
            });
          });
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    }
  }
};
</script>
