<template>
  <div>
    <back-button to="manageGroups"/>
    <h2>Edit group</h2>
    <group-form :inputGroup="group" @submit="onUpdate"/>
  </div>
</template>

<script>
import GroupForm from '@/components/admin/groups/GroupForm';
import BackButton from '@/components/BackButton';

export default {
  name: 'EditGroup',
  components: {
    GroupForm,
    BackButton
  },
  props: {
    groupId: {
      type: [String, Number],
      required: true
    }
  },
  computed: {
    group() {
      return this.$store.getters.group(this.groupId);
    }
  },
  methods: {
    onUpdate(group) {
      this.$store.commit('setLoading', true);
      this.$http.put(`/v3/groups/${this.groupId}`, group).then(() => {
        this.$store.dispatch('fetchGroups').then(() => {
          this.$store.commit('setLoading', false);
          this.$router.push({ name: 'manageGroups' }).then(() => {
            this.$notify({
              group: 'default',
              type: 'success',
              title: 'Group successfully updated',
              text: group.name
            });
          });
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    }
  }
};
</script>
