<template>
  <div class="modal-container">
    <div class="modal-header">
      <back-button to="login"/>
      <h2 class="pt-2">Forgot password</h2>
    </div>

    <div class="modal-body">
      <form @submit.prevent="onSubmit" ref="forgotPasswordForm" novalidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" v-model="email" required>
          <div class="invalid-feedback">
            Please enter a valid email address
          </div>
        </div>

        <div class="modal-buttons">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import BackButton from '@/components/BackButton';

export default {
  name: 'ForgotPassword',
  components: {
    BackButton
  },
  computed: {
    validForm() {
      return this.email;
    }
  },
  data() {
    return {
      email: ''
    };
  },
  methods: {
    onSubmit() {
      this.$refs.forgotPasswordForm.classList.add('was-validated');
      if (!this.validForm) {
        return;
      }

      this.$store.commit('setLoading', true);
      this.$http.post('/v1/auth/request_password_reset', { email: this.email }).then(() => {
        this.$store.commit('setLoading', false);
        this.$router.push({ name: 'login' }).then(() => {
          this.$notify({
            group: 'default',
            type: 'success',
            title: `An email has been sent to ${this.email} with further instructions`
          });
        });
      }).catch(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'An unknown error occurred',
          text: 'Please try again later'
        });
      });
    }
  }
};
</script>
