<template>
  <div class="modal-container">
    <div class="modal-header">
      <h2>Login</h2>
    </div>

    <div class="modal-body">
      <form @submit.prevent="onLogin" ref="loginForm" novalidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" v-model="email" required>
          <div class="invalid-feedback">
            Please enter a valid email address
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" v-model="password" required>
          <div class="invalid-feedback">
            Please enter a password
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col-auto">
            <div class="form-group">
              <check-box label="Remember me" v-model="rememberMe"/>
            </div>
          </div>
          <div class="col-auto">
            <router-link :to="{ name: 'forgotPassword' }">
              Forgot password?
            </router-link>
          </div>
        </div>

        <div class="modal-buttons">
          <button type="submit" class="btn btn-primary mr-3">Login</button>
          <router-link class="btn btn-outline-primary" :to="{ name: 'register' }">Register</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import CheckBox from '@/components/CheckBox';
import http from '@/services/http';

export default {
  name: 'Login',
  components: {
    CheckBox
  },
  data() {
    return {
      email: '',
      password: '',
      rememberMe: false
    };
  },
  computed: {
    validLogin() {
      return this.email && this.password;
    }
  },
  methods: {
    onLogin() {
      this.$refs.loginForm.classList.add('was-validated');
      if (!this.validLogin) {
        return;
      }

      this.$http.post('/v1/auth/login', {
        email: this.email,
        password: this.password,
        remember_me: this.rememberMe
      }).then(response => {
        const { token, refresh_token } = response.data;
        http.afterLogin(token);
        // eslint-disable-next-line camelcase
        if (refresh_token) {
          http.setRefreshToken(refresh_token);
        }
        this.$router.push({ name: 'home' }).then(() => {
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Login successful'
          });
        });
      }).catch(() => {
        this.$notify({
          group: 'default',
          type: 'error',
          title: 'Incorrect email or password'
        });
      });
    }
  }
};
</script>
