<template>
  <div class="modal-container">
    <div class="modal-header">
      <back-button to="login"/>
      <h2 class="pt-2">Register</h2>
    </div>

    <div class="modal-body">
      <form @submit.prevent="onRegister" ref="registerForm" novalidate>
        <div class="form-group">
          <label for="first_name">First name</label>
          <input type="text" class="form-control" id="first_name" ref="first_name" v-model="register.first_name" required>
          <div class="invalid-feedback">
            Please enter your first name
          </div>
        </div>

        <div class="form-group">
          <label for="last_name">Last name</label>
          <input type="text" class="form-control" id="last_name" ref="last_name" v-model="register.last_name" required>
          <div class="invalid-feedback">
            Please enter your last name
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" ref="email" v-model="register.email" required>
          <div class="invalid-feedback">
            Please enter your email
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" ref="password" v-model="register.password" required>
          <div class="invalid-feedback">
            <template v-if="!register.password">
              Please enter a password
            </template>
            <template v-else-if="!validPasswordLength">
              The password should consist of at least 8 characters
            </template>
          </div>
        </div>

        <div class="form-group">
          <label for="repeat_password">Repeat password</label>
          <input type="password" class="form-control" id="repeat_password" ref="repeat_password" v-model="register.repeat_password" required>
          <div class="invalid-feedback">
            Please enter the same password
          </div>
        </div>

        <div class="form-group">
          <label for="invite_token">Invitation token</label>
          <input type="text" class="form-control" id="invite_token" ref="invite_token" v-model="register.invite_token" required>
          <div class="invalid-feedback">
            <template v-if="!register.repeat_password">
              Please enter your invitation token
            </template>
            <template v-else-if="!repeatPasswordMatches">
              The passwords don't match
            </template>
          </div>
        </div>

        <div class="modal-buttons">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import BackButton from '@/components/BackButton';
import http from '@/services/http';

export default {
  name: 'Register',
  components: {
    BackButton
  },
  data() {
    return {
      register: {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        repeat_password: '',
        invite_token: ''
      }
    };
  },
  computed: {
    validPasswordLength() {
      return this.register.password.length >= 8;
    },
    repeatPasswordMatches() {
      return this.register.password === this.register.repeat_password;
    }
  },
  methods: {
    onRegister() {
      if (!this.validate()) {
        return;
      }

      this.$store.commit('setLoading', true);
      this.$http.post('/v1/auth/register', this.register).then(response => {
        this.$store.commit('setLoading', false);
        http.afterLogin(response.data.token);
        this.$router.push({ name: 'home' }).then(() => {
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Registration successful'
          });
        });
      }).catch(error => {
        this.$store.commit('setLoading', false);
        if (error.response.status === 403) {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'Invalid invitation token'
          });
        } else if (error.response.status === 409) {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'The email address is already registered'
          });
        } else {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'An unknown error occurred',
            text: 'Please try again later'
          });
        }
      });
    },
    validate() {
      this.resetErrors();
      let valid = true;

      for (const prop in this.register) {
        // eslint-disable-next-line no-prototype-builtins
        if (this.register.hasOwnProperty(prop) && !this.register[prop]) {
          this.showError(prop);
          valid = false;
        }
      }

      if (!this.validPasswordLength) {
        this.showError('password');
        valid = false;
      }

      if (!this.repeatPasswordMatches) {
        this.showError('repeat_password');
        valid = false;
      }

      return valid;
    },
    showError(ref) {
      this.$refs[ref].classList.add('is-invalid');
    },
    hideError(ref) {
      this.$refs[ref].classList.remove('is-invalid');
    },
    resetErrors() {
      for (const prop in this.register) {
        // eslint-disable-next-line no-prototype-builtins
        if (this.register.hasOwnProperty(prop)) {
          this.hideError(prop);
        }
      }
    }
  },
  created() {
    this.$modal.show('register-modal');
    if (this.$route.query.invite_token) {
      this.register.invite_token = this.$route.query.invite_token;
    }
  }
};
</script>
