<template>
  <div class="modal-container">
    <div class="modal-header">
      <h2>Reset password</h2>
    </div>

    <div class="modal-body">
      <form @submit.prevent="onResetPassword" ref="resetPasswordForm" novalidate>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" ref="password" id="password" v-model="password" required>
          <div class="invalid-feedback">
            <template v-if="!password">
              Please enter a new password
            </template>
            <template v-else-if="!validPasswordLength">
              The password should consist of at least 8 characters
            </template>
          </div>
        </div>

        <div class="form-group">
          <label for="repeat-password">Repeat password</label>
          <input type="password" class="form-control" ref="repeatPassword" id="repeat-password" v-model="repeatPassword" required>
          <div class="invalid-feedback">
            <template v-if="!repeatPassword">
              Please enter the new password again
            </template>
            <template v-else-if="!repeatPasswordMatches">
              The passwords don't match
            </template>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
import http from '@/services/http';

export default {
  name: 'ResetPassword',
  computed: {
    validPasswordLength() {
      return this.password.length >= 8;
    },
    repeatPasswordMatches() {
      return this.password === this.repeatPassword;
    }
  },
  data() {
    return {
      password: '',
      repeatPassword: ''
    };
  },
  methods: {
    onResetPassword() {
      if (!this.validate()) {
        return;
      }

      this.$store.commit('setLoading', true);
      this.$http.post('/v1/auth/reset_password', {
        new_password: this.password,
        token: this.$route.query.token
      }).then(response => {
        this.$store.commit('setLoading', false);
        http.afterLogin(response.data.token);
        this.$router.push({ name: 'home' }).then(() => {
          this.$notify({
            group: 'default',
            type: 'success',
            title: 'Your password has been reset successfully'
          });
        });
      }).catch(error => {
        this.$store.commit('setLoading', false);
        if (error.response.status === 403 || error.response.status === 409) {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'Invalid token',
            text: 'Please request a new password reset request and try again.'
          });
        } else {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'An unknown error occurred',
            text: 'Please try again later'
          });
        }
      });
    },
    validate() {
      this.resetErrors();
      let valid = true;

      if (!this.password) {
        this.showError('password');
        valid = false;
      }

      if (!this.repeatPassword) {
        this.showError('repeatPassword');
        valid = false;
      }

      if (!this.validPasswordLength) {
        this.showError('password');
        valid = false;
      }

      if (!this.repeatPasswordMatches) {
        this.showError('repeatPassword');
        valid = false;
      }

      return valid;
    },
    showError(ref) {
      this.$refs[ref].classList.add('is-invalid');
    },
    hideError(ref) {
      this.$refs[ref].classList.remove('is-invalid');
    },
    resetErrors() {
      for (const err of ['password', 'repeatPassword']) {
        this.hideError(err);
      }
    }
  },
  created() {
    if (!this.$route.query.token) {
      this.$router.push({ name: 'login' });
    }
  }
};
</script>
