<template>
  <div>
    <h4>Change password</h4>
    <form @submit.prevent="onSubmit" ref="changePasswordForm" novalidate>
      <div class="form-group">
        <label for="old_password">Old password</label>
        <input type="password" class="form-control" ref="old_password" id="old_password" v-model="old_password" required>
        <div class="invalid-feedback">
          Please enter your old password
        </div>
      </div>

      <div class="form-group">
        <label for="new_password">New password</label>
        <input type="password" class="form-control" ref="new_password" id="new_password" v-model="new_password" required>
        <div class="invalid-feedback">
          <template v-if="!new_password">
            Please enter a new password
          </template>
          <template v-else-if="!validPasswordLength">
            The password should consist of at least 8 characters
          </template>
        </div>
      </div>

      <div class="form-group">
        <label for="repeat_password">Repeat password</label>
        <input type="password" class="form-control" ref="repeat_password" id="repeat_password" v-model="repeat_password" required>
        <div class="invalid-feedback">
          <template v-if="!repeat_password">
            Please enter the new password again
          </template>
          <template v-else-if="!repeatPasswordMatches">
            The passwords don't match
          </template>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Update password</button>
    </form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ChangePassword',
  data() {
    return {
      old_password: '',
      new_password: '',
      repeat_password: ''
    };
  },
  computed: {
    validPasswordLength() {
      return this.new_password.length >= 8;
    },
    repeatPasswordMatches() {
      return this.new_password === this.repeat_password;
    },
    ...mapGetters(['user'])
  },
  methods: {
    onSubmit() {
      if (!this.validate()) {
        return;
      }

      this.$store.commit('setLoading', true);
      this.$http.put(`/v1/users/${this.user.id}/password`, {
        old_password: this.old_password,
        new_password: this.new_password
      }).then(() => {
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'success',
          title: 'Your password has been updated successfully'
        });
      }).catch(error => {
        this.$store.commit('setLoading', false);
        if (error.response.status === 409) {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'The old password is incorrect'
          });
        } else {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'An unknown error occurred',
            text: 'Please try again later'
          });
        }
      });
    },
    validate() {
      this.resetErrors();
      let valid = true;

      if (!this.old_password) {
        this.showError('old_password');
        valid = false;
      }

      if (!this.new_password) {
        this.showError('new_password');
        valid = false;
      }

      if (!this.repeat_password) {
        this.showError('repeat_password');
        valid = false;
      }

      if (!this.validPasswordLength) {
        this.showError('new_password');
        valid = false;
      }

      if (!this.repeatPasswordMatches) {
        this.showError('repeat_password');
        valid = false;
      }

      return valid;
    },
    showError(ref) {
      this.$refs[ref].classList.add('is-invalid');
    },
    hideError(ref) {
      this.$refs[ref].classList.remove('is-invalid');
    },
    resetErrors() {
      for (const err of ['old_password', 'new_password', 'repeat_password']) {
        this.hideError(err);
      }
    }
  }
};
</script>
