<template>
  <div>
    <h4>Change account information</h4>
    <form @submit.prevent="onSubmit" ref="changeAccountInfoForm" novalidate>
      <div class="form-group">
        <label for="first_name">First name</label>
        <input type="text" class="form-control" id="first_name" v-model="first_name" required>
        <div class="invalid-feedback">
          Please enter a valid first name
        </div>
      </div>

      <div class="form-group">
        <label for="last_name">Last name</label>
        <input type="text" class="form-control" id="last_name" v-model="last_name" required>
        <div class="invalid-feedback">
          Please enter a valid last name
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" v-model="email" required>
        <div class="invalid-feedback">
          Please enter a valid email address
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Update account</button>
    </form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ChangeAccountInfo',
  data() {
    return {
      first_name: '',
      last_name: '',
      email: ''
    };
  },
  computed: {
    validAccountInfo() {
      return this.first_name && this.last_name && this.email;
    },
    ...mapGetters(['user'])
  },
  watch: {
    user() {
      this.first_name = this.user.first_name;
      this.last_name = this.user.last_name;
      this.email = this.user.email;
    }
  },
  methods: {
    onSubmit() {
      this.$refs.changeAccountInfoForm.classList.add('was-validated');
      if (!this.validAccountInfo) {
        return;
      }

      this.$store.commit('setLoading', true);
      this.$http.put(`/v1/users/${this.user.id}`, {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email
      }).then(response => {
        this.$store.commit('setUser', response.data);
        this.$store.commit('setLoading', false);
        this.$notify({
          group: 'default',
          type: 'success',
          title: 'Your account has been updated successfully'
        });
      }).catch(error => {
        this.$store.commit('setLoading', false);
        if (error.response.status === 409) {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'The email address is already registered'
          });
        } else {
          this.$notify({
            group: 'default',
            type: 'error',
            title: 'An unknown error occurred',
            text: 'Please try again later'
          });
        }
      });
    }
  },
  created() {
    if (this.user) {
      this.first_name = this.user.first_name;
      this.last_name = this.user.last_name;
      this.email = this.user.email;
    }
  }
};
</script>
